@media only screen and (max-width:720px) {
    * { 
        display:flex;
        flex-flow: column wrap;
        flex-basis: 100%;
    }        
}

.container-1 {
    display: flex;
    justify-content: space-between;
    
}
.container-2{
    display: flex;
    flex-basis: 62%; 
    flex-direction: column;
    justify-content: space-between;
}

.container-3 {
    display: flex;
    justify-content: space-between;
    flex-basis: 53%;
}

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 47%;
}

#tall-tile {
    background-color: lightgreen;
    flex-basis: 34%;
    padding: 1em;
}

#wide-tile {
    background-color: lightcoral;
    flex-basis: 40%;
    padding: 1em;
    color: azure;
}

#middle-tile {
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    color: azure;
    align-items: center;
    flex-basis: 47%;
    min-height: 300px;
    padding: 1em;

}

.aligh-top {
    align-self: flex-start;
}

#bottom-tile {
    background-color: lightyellow;
    height: 40%;
    padding: 1em;
   
}

#top-tile{
    background-color: lightcyan;
    height: 40%;
    padding: 1em;
}

#image {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}